{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    
    <div class="header ">
        <div class="branding">
            <h1 class="site-name"><a href="{% url 'todos' %}">My TODOs</a></h1>
        </div>
        <div class="user-tools">
            <a href="{% url 'todos' %}">TODOs</a> |
            <a href="{% url 'create_todo' %}">Add TODO</a> |            
        </div>
    </div>        
    <div class="container">  
        {% block content %}{% endblock content %}
    </div>




</body>
</html>


