{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <div class="header ">
        <div class="container-header">
            <div class="branding col-6">
                <h1 ><a class="site-name" href="{% url 'todos' %}">My TODOs</a></h1>
            </div>
            <div class="user-tools col-6">
                <a href="{% url 'todos' %}">TODOs</a> |
                <a href="{% url 'create_todo' %}">Add TODO</a> |            
            </div>
        </div>
    </div>        
    <div class="container">  
        {% block content %}{% endblock content %}
    </div>




</body>
</html>


