{% extends 'base.html' %}

{% block content %}

<div class="container">
    <table class="table col-9">
        <thead>
            <tr>
                <th scope="col-4">
                    <div class="">
                        <span>TITLE</span>
                    </div>
                </th>
                <th scope="col">
                    <div class="text">
                        <span>STATUS</span>
                    </div>
                </th>
                <th scope="col">
                    <div class="text">
                        <span>DATE OF COMPLETION</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            
            {% for todo in todos %}
                <tr>
                    <th>
                        <a class="list-group-item list-group-item-action" href="{% url 'detail_todo' todo.pk %}">{{ todo.title }}</a>
                    </th>
                    <td>{{ todo.status }}</td>
                    <td class="col-3">{{ todo.date_of_completion }}</td>
                    <td class="col-1"><a class="a-edit" href="{% url 'update_todo' todo.pk %}">
                        <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#efb80b"
                            d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"/>
                        </svg><span>EDIT</span></a>
                    </td>
                    <td class="col-1">
                        <a class="a-delete" href="{% url 'delete_todo' todo.pk %}"><svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#dd4646" d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"/>
                        </svg> <span>DELETE</span> </a>
                    </td>

                </tr>
            {% endfor %}
            
        </tbody>
    </table>
{% endblock content %}