.header{
    background-color: #fff;
    display: flex;
}

.site-name{
     text-decoration: none;
     color:
}

.container-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;


}



.user-tools{

    text-align: end;
}

.a-delete{
text-decoration:none;
color: red;
}

.a-edit{
text-decoration:none;
}
.a-edit span{
    margin: 5px;
}